@inherits LayoutComponentBase

<PageTitle>York Online</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="top-row navbar navbar-dark" style=" opacity: 0.9; background-image: linear-gradient(to right, black 0%, white 90%);">
            <div class="container-fluid">
                <img style="width:30px; height:30px" src="/Images/SVGYork.png" alt="" />
                <a class="navbar-brand" href="">York Online</a>
                <a href="">Back</a>
                <button type="button" class="avatar-btn">HK</button>
            </div>
        </div>
    </div>
    <main class="page-background-class" >
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}
