@inherits LayoutComponentBase


<main>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="logincontainer">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>
</main>


@code {

}
